.DS_Store
dist
.smoke
.reports/
.limina/
node_modules
.husky/_
.eslintcache
cache

# ignore the temporary config.ts build output,
# when vitepress fails to build config.ts,
# it will remain in the workspace.
docs/.vitepress/config.ts.timestamp-*.mjs

# Local environment overrides
*.local
